.visualizer {
	display: flex;
	width: 95vw;
	margin: 0 auto;
	height: 91vh;
	// overflow: hidden;
	align-items: flex-end;
	justify-content: center;
	.bar {
		margin: 0 0.7px;
		background-color: rgb(88, 166, 255);
		min-width: 2px;
	}
	.compare {
		background-color: #7d3ea0 !important;
	}
	.swap {
		background-color: #e74c3c !important;
	}
	.sorted {
		background-color: #2479d0 !important;
	}
	.correct {
		background-color: #27ae60 !important;
	}
	.pivot {
		background-color: #c9cccd !important;
	}
}
